<routes>
	<route url="/?" module="Authentification" action="login"/>
	<route url="^/login/?$" module="Authentification" action="login"/>
        <route url="^/verification/?$" module="Authentification" action="verification"/>
        <route url="^/logout/?$" module="Authentification" action="logout"/>
</routes>